{% extends "base.html" %}

{% block content %}
<div class="text-center">
<h1>Title: {{ movie.title }}</h1>
{% if movie.poster %}
  {% load static %}
  <img class="card-img-top w-25 mx-auto" style="padding:10px;"  src="{% static 'img/' %}{{ movie.poster }}">
{% endif %}
<p><strong>Date:</strong> {{ movie.date }}</p>
<p><strong>Duration:</strong> {{ movie.duration }} minutes </p>
{% comment %} <p><strong>Poster:</strong> {{ movie.poster }}</p> {% endcomment %}
<!--    Slow algorithm. please fix :Clown_emoji:🤡 -->
</div>
<div style="margin-left:20px;margin-top:20px;padding-right: 20px;">
  <h4>Available shifts: </h4>
  <div class="list-group">
  {% if avail_shifts %}
    <ul class="list-group">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <li class="list-group-item border-0">Shift Type</li>
          </div>
          <div class="col">
            <li class="list-group-item border-0">Date and Time</li>
          </div>
          <div class="col">
            <li class="list-group-item border-0">Shift Duration in Minutes</li>
          </div>
        </div>
      </div>
    </ul>
    {% endif%}
    {% for shift in avail_shifts %}
    {% if not shift.user %}
    <a href="{{ shift.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-success">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            {{ shift.get_shift_type_display}}
          </div>
          <div class="col"> 
            {{ shift.date}}
          </div>
          <div class="col">
            {{ shift.duration}}
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    {% empty %}
    <p>There are no shifts to show</p>
    {% endfor %}
  </div>
  {% if perms.shiftbooker.can_view_users_shifts %}
  <br>
  <h4>Full shifts: </h4>
  {% if avail_shifts|length != movie.shift_set.all|length %}
  <div class="list-group">
    <ul class="list-group">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <li class="list-group-item border-0">Shift Type</li>
          </div>
          <div class="col">
            <li class="list-group-item border-0">Date and Time</li>
          </div>
          <div class="col">
            <li class="list-group-item border-0">Shift Duration in Minutes</li>
          </div>
          <div class="col">
            <li class="list-group-item border-0">User Assigned to shift</li>
          </div>
        </div>
      </div>
    </ul>
    {% else %}
      <p>There are no shifts to show</p>
    {% endif %}
    
    {% for shift in movie.shift_set.all %}
    {% if shift.user %}
    <a href="{{ shift.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-danger">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            {{ shift.get_shift_type_display}}
          </div>
          <div class="col">
            {{ shift.date}}
          </div>
          <div class="col">
            {{ shift.duration}}
          </div>
          <div class="col">
            {{shift.user}}
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}