{% extends "base.html" %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        {{ shift.movie.title }}
    </div>
    <div class="card-body">
        {% load static %}
        {%if shift.movie.poster %}
        <img class="card-img-top w-25" style="padding:10px;" src="{% static 'img/' %}{{ shift.movie.poster }}">
        {% endif %}
        <h5 class="card-title">Volunteer shift type: {{ shift.get_shift_type_display }}</h5>
        <p class="card-text">{{ shift.date }}, duration: {{ shift.duration }} minutes</p>
        {% if not shift.user %}
        {% if perms.shiftbooker.can_view_users_shifts %}
            <form action="{% url 'sign_up_for_shift' shift.id %}" method="post">
                {% csrf_token %}
                <div class="form-group text-center">
                    <label for="user_select">Select a user:</label>
                    <select class="form-control w-25 mx-auto m-3" id="user_select" name="selected_user">
                        {% for user in user_list %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Assign User" class="btn btn-success">
            </form>

        {% else %}
        <form action="{% url 'sign_up_for_shift' shift.id%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="selected_user" value="{{ user.id }}">
            <input type="hidden" name="shift_id" value="{{ shift.id }}">
            <input type="submit" value="Sign up for shift!" class="btn btn-success">
        </form>
        {% endif %}
        {% elif perms.shiftbooker.can_view_users_shifts %}
        <form action="{% url 'remove_user_from_shift' shift.id %}" method="post">
           {% csrf_token %}
           <input type="submit" value="Remove user from shift!" class="btn btn-success">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}