{% extends "base.html" %}
{% block content %}
<div class="row" style="padding-top:20px;">
  {% for volunteer in user_list %}
  <div class="col-3 mb-4">
    <div class="card" style="height:100%">
      <div class="card-body d-flex flex-column">
        <div class="flex-grow-1 align-self-start">
          <h5 class="card-title">
            <strong>Name</strong>: 
            {% if volunteer.first_name and volunteer.last_name %}
            {{ volunteer.first_name }} {{ volunteer.last_name }}
            {% else %}
              {{ volunteer.username }}
            {% endif %}
          </h5>
          <p class="card-text" style="margin-bottom:0px"><strong>Phone:</strong> {{ volunteer.phone }}</p>
          {% if volunteer.email %}
            <p class="card-text"><strong>E-mail:</strong> {{ volunteer.email }}</p>
          {% endif %}
        </div>
        <br> <!-- very important don't -->
          <a href="{{ volunteer.get_absolute_url }}" class="btn btn-primary mt-auto">Details</a>
        </div>
    </div>
  </div>
  {% empty %}
  <p>There are no volunteers</p>
  {% endfor %}
</div>
</div>
{% endblock %}
